@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: muli;
  src: url(./fonts/Muli.ttf);
}

@font-face {
  font-family: itc;
  src: url(./fonts/ClearfaceStd-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: muli;
}

.container {
  max-width: 1375px !important;
  margin: 0 auto;
}
.he {
  line-height: 20px;
  border-bottom: 1px solid transparent;
}
.he:hover {
  opacity: 50%;
  border-bottom: 1px solid black;
  line-height: 20px;
  cursor: pointer;
}

.heroText {
  font-family: itc;
}
.hero {
  background: url("https://paperthemedemo.myshopify.com/cdn/shop/files/Frame_3_2.png?v=1712288398&width=5000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-gr {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.main button {
  border: 3px solid transparent;
  transition: border 1s ease, outline 1s ease;
}
.main:hover button {
  border: 3px solid white;
  outline: 2px solid black;
}
.cardChild {
  transition: 0.5s ease opacity;
}
.cardParent:hover .cardChild {
  opacity: 0;
}
.cardParent:hover .btn {
  opacity: 1;
  bottom: 15px;
}

.swiper {
  width: 600px;
  height: 300px;
}



.splide__arrows {
 position:  absolute;
 bottom: -10px!important;
 right: 10px!important;

}


@media only screen and (max-width: 600px) {
.container{
  padding: 0 20px;
}
}